.container-1{
    background-image: url("/Imgs/1st\ \ img.jpg");
    background-size: cover;
    background-position: center ;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
    padding-top: 17%;
}


h1{
    margin-top: 4rem;
    line-height: 1.2em;
    word-spacing: 0.8rem;
    font-size: 3rem;
}


.amazing{
    padding-bottom: 15%;
    font-size: 1.5rem;
}

.about{
    text-align: center;
    margin-top: 2.5rem;
    line-height: 2.2rem;
}


#services{
    background-image: url("/Imgs/2nd\ img.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 8%;
    color: white;
    font-size: 1.4rem;
    text-align: center;
    margin-top: 3rem;
    line-height: 2.2rem;
}