.container-1{
    background-image: url("/Imgs/1st\ \ img.jpg");
    background-size: cover;
    background-position: center ;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
    padding-top: 17%;
}
